<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <h1>testing</h1>

  
 <style>
    h1 {
      color  : rebeccapurple;
    }
 
    .container {
      display: flex;
      justify-content: center;
      height: 800px;
      width: 800px;
      margin: auto auto;
      flex-wrap: wrap;
    }
 
    .box {
     background-color: aquamarine;
     width: 150px;
     height: 150px;
     display: flex;
     margin: 10px;
     border: 2px solid black;
    }
 
    .box p {
     margin: auto auto;     
    }
 
 
  </style>
 

  <div class="container">

    {{times}}

    {{color}}

  {% for i in range(0,times,1): %}
   <div class="box" style="background-color: {{color}}">
      <p> {{i}} </p>
    </div>
  {% endfor %}



  </div>p






  
</body>
</html>